.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px #000000;
}

#display {
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 15px;
}

.buttons {
    display: grid;
    border-bottom: 2px  #999;
    border-left: 2px #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 2px #999;
    border-right: 2px #999;
}

.button {
    border: 2.5px #999;
    line-height: 70px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
}

#equal {
    background-color:purple ;
    color: white;
}

.button:hover {
    background-color:  brown;
    color: pink;
    transition: 0.4s ease-in-out;
}
