.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
}

#display {
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 15px;
}

.buttons {
    display: grid;
    border-bottom: 1px  #FFA500;
    border-left: 1px #FFA500;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px #FFA500;
    border-right: 1px #FFA500;
}

.button {
    border: 0.5px #FFA500;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color:  #add8e6;
    color: light-blue;
    transition: 0.5s ease-in-out;
}
